[submodule "abx-accent/scripts/prepare/abkhazia/abkhazia"]
	path = abx-accent/scripts/prepare/abkhazia/abkhazia
	url = https://github.com/bootphon/abkhazia.git
[submodule "abx-accent/scripts/eval/abx/ABXpy/ABXpy"]
	path = abx-accent/scripts/eval/abx/ABXpy/ABXpy
	url = https://github.com/bootphon/ABXpy.git
