# Abkhazia specific files
/abkhazia/share/abkhazia.conf
/abkhazia/share/cmudict.0.7a
/abkhazia/share/cmd.sh
/abkhazia/share/path.sh
/kaldi/
/egs/acoustic_model_buckeye/
/egs/align_childes_brent/
/egs/align_childes_brent_1percent/
/egs/exemple_buckeye/
/egs/triphones.item
/exemple/
/tmpdir/
/debug/

# Documentation
/docs/build/
/docs/_build/
/docs/html
/docs/Makefile

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Testing
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
lm_test/
test/lm/

# Temp files
*~
\#*
*.log
*.DS_Store

# Other
pip-log.txt
pip-delete-this-directory.txt
*.mo
*.pot
*.manifest
*.spec
